@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;
$text-secondary: "Barlow Condensed", sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$fs-base: 18px;
$fs-header: 32px;
$fs-header-lg: 48px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 48px;

$color-main: #000000;
$color-bg: #ffffff;
$color-accent: #b79f9b;
$color-accent-2: #96756e;

$gradient: linear-gradient(180deg, #dcbfb9 0%, #f4d0b8 41%, #96756e 100%);
$text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.4);

$transition: all 0.3s;
$scale: 1.05;
$scale-2: 1.2;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

@mixin barlow-bold {
  font-family: $text-secondary;
  font-weight: $fw-bold;
}

@mixin header {
  @include barlow-bold;
  text-align: center;
  text-transform: uppercase;
  text-wrap: balance;
}

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-bg;
  text-shadow: $text-shadow;
  background-color: $color-bg;
  max-width: 1300px;
  margin: 0 auto;
  container: es-rc-content / inline-size;

  ::selection {
    background-color: $color-accent-2;
    color: $color-bg;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  .es-section-title {
    font-family: $text-secondary;
    font-size: $fs-header;
    font-weight: $fw-regular;
    text-align: center;
    margin-block: $px-M;
    text-transform: uppercase;
    text-wrap: balance;
    &--bold {
      font-weight: $fw-semibold;
    }
    @container es-rc-content (min-width: 768px) {
      font-size: $fs-header-lg;
    }
  }

  .es-footer {
    background-color: $color-main;
    &__logo {
      max-width: 200px;
      padding: $px-M;
    }
    @container es-rc-content (min-width: 660px) {
      &__logo {
        max-width: 250px;
        padding: 20px;
      }
    }
  }

  .es-kv {
    &__headline {
      @include header;
      font-size: clamp(42px, 28.979px + 3.617vw, 76px);
      line-height: 1;
      padding-block: $px-M;
      border-top: 16px solid $color-main;
      border-bottom: 16px solid $color-main;
      background-color: $color-main;
    }
    @container es-rc-content (min-width: 475px) {
      position: relative;
      &__headline {
        position: absolute;
        border: unset;
        background: unset;
        text-shadow: $text-shadow;
        top: 1%;
        left: 48%;
      }
    }
    @container es-rc-content (min-width: 660px) {
      display: flex;
      &__headline {
        top: 18%;
        left: 30%;
        font-size: clamp(40px, 1.12px + 5.76vw, 76px);
      }
    }
  }

  .es-results {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__left {
      padding-inline: $px-L;
    }
    &__right {
      padding: $px-M;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $px-L;
      &__headline {
        @include header;
        line-height: 1;
        &--top {
          font-size: clamp(32px, 8.24px + 3.52vw, 54px);
          margin-bottom: $px-M;
        }
        &--bottom {
          font-size: clamp(1.259375rem, 0.3245rem + 2.216vw, 2.125rem);
        }
      }
      &__ba {
        &-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        &-single {
          display: flex;
          flex-direction: column;
          align-items: center;
          &__img {
            transition: $transition;
            &:hover {
              transform: scale($scale);
            }
            &-wrapper {
              overflow: hidden;
            }
          }
          &__text {
            @include header;
            font-weight: $fw-medium;
            padding: 10px;
            width: 100%;
            font-size: calc(1.2 * $fs-base);
            &--before {
              background-color: $color-accent;
            }
            &--after {
              background-color: $color-bg;
              color: $color-accent;
            }
          }
        }
      }
    }
    @container es-rc-content (min-width: 550px) {
      &__right {
        &__ba-wrapper {
          flex-direction: row;
        }
      }
    }
    @container es-rc-content (min-width: 660px) {
      display: flex;
      align-items: center;
      justify-content: center;
      &__left,
      &__right {
        width: 50%;
      }
      &__right__ba-single__text {
        font-size: 32px;
      }
    }
  }

  .es-features {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: $px-M;
    display: flex;
    flex-direction: column;
    gap: $px-XL;
    .es-desktop {
      display: none;
    }
    &__feature {
      display: flex;
      flex-direction: column;
      gap: $px-S;
    
      &:hover {
        .es-features__feature__img {
          transform: scale($scale-2);
        }
      }
      &__img {
        transition: $transition;
      }
      &__title {
        @include header;
        font-size: clamp(24px, 17.106px + 1.9149vw, 42px);
      }
      &__desc {
        text-align: center;
        text-wrap: balance;
        font-weight: $fw-bold;
        line-height: 1.2;
        font-size: clamp(16px, 14.469px + 0.4255vw, 20px);
      }
    }
    @container es-rc-content (min-width: 660px) {
      position: relative;
      padding-top: 0;

      .es-desktop {
        display: block;
      }
      &__feature {
        position: absolute;
        width: max-content;
        &--1 {
          top: 7%;
          right: 4%;
        }
        &--2 {
          bottom: 10%;
          left: 4%;
        }
        &__img {
          max-width: 44px;
          max-height: 44px;
          margin: unset;
          width: 18%;
          &--1 {
            margin-top: -6%;
            margin-left: 7%;
          }
          &--2 {
            margin: auto;
          }
        }
      }
    }

    @container es-rc-content (min-width: 880px) {
      padding: $px-XL;
      padding-top: 0;
      &__feature {
        gap: $px-M;
        &--1 {
          top: 8%;
          right: 6%;
        }
        &--2 {
          left: 8%;
        }
        &__img {
          max-width: 55px;
          max-height: 67px;
          &--1 {
            margin-top: -4%;
            margin-left: 9%;
          }
        }
      }
    }
  }

  .es-cross {
    padding: 60px 16px;
    background: $gradient;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px 8px;
      margin-top: 32px;
    }

    &__single {
      max-width: 300px;
      display: flex;
      align-items: center;
      flex-flow: column;
    }

    &__single:hover {
      .es-cross__img {
        transform: scale(1.05);
      }

      .es-cross__link {
        background-color: $color-bg;
        color: $color-main;
        box-shadow: inset 0 0 0 2px $color-main;
      }
    }

    &__packshot {
      margin-bottom: $px-M;
      padding-bottom: $px-M;
    }

    &__img {
      max-height: 100%;
      transition: all 0.3s;
      width: 80%;
    }

    &__name {
      line-height: inherit;
      font-size: 22px;
      text-transform: uppercase;
      font-family: $text-secondary;
      text-align: center;
      margin-bottom: 8px;
      font-weight: $fw-bold;
    }

    &__desc {
      text-align: center;
      font-size: 14px;
      margin-bottom: $px-XL;
    }

    &__link {
      margin: 0;
      line-height: inherit;
      font-size: 20px;
      background: $color-main;
      color: $color-bg;
      text-decoration: none;
      padding: 16px 40px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $text-secondary;
      text-align: center;
      display: inline-block;
      transition: color 0.3s;
      width: 100%;
    }
    @container es-rc-content (min-width: 768px) {
      &__container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: $px-XL $px-S;
        margin-top: $px-XL;
      }

      &__single {
        min-width: 230px;
        width: 30%;
        text-shadow: unset;
      }

      &__desc {
        height: 9em;
      }
    }
    @container es-rc-content (min-width: 880px) {
      &__desc {
        height: 7em;
      }
    }
  }

  // Swiper styles, reset some of the inherent ones

  .es-slider {
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: unset;
      height: unset;
      position: static;
      justify-content: unset;
      margin: 0;
      display: unset;
    }
    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &--prev__img,
      &--next__img {
        display: block;
        width: 32px;
        height: 32px;
        margin: 0;
      }
      &--prev__img {
        transform: rotate(180deg);
      }
    }
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
