#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
  max-width: 1300px;
  margin: 0 auto;
  container: es-rc-content/inline-size;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #96756e;
  color: #ffffff;
}
#es-rc #es-rc-content ::selection {
  background-color: #96756e;
  color: #ffffff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-block: 16px;
  text-transform: uppercase;
  text-wrap: balance;
}
#es-rc #es-rc-content .es-section-title--bold {
  font-weight: 600;
}
@container es-rc-content (min-width: 768px) {
  #es-rc #es-rc-content .es-section-title {
    font-size: 48px;
  }
}
#es-rc #es-rc-content .es-cross {
  padding: 60px 16px;
  background: linear-gradient(180deg, #dcbfb9 0%, #f4d0b8 41%, #96756e 100%);
  color: #ffffff;
}
#es-rc #es-rc-content .es-cross__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px 8px;
  margin-top: 32px;
}
#es-rc #es-rc-content .es-cross__single {
  max-width: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__img {
  transform: scale(1.05);
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__link {
  background-color: #ffffff;
  color: #000000;
  box-shadow: inset 0 0 0 2px #000000;
}
#es-rc #es-rc-content .es-cross__packshot {
  margin-bottom: 16px;
  padding-bottom: 16px;
}
#es-rc #es-rc-content .es-cross__img {
  max-height: 100%;
  transition: all 0.3s;
  width: 80%;
}
#es-rc #es-rc-content .es-cross__name {
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
}
#es-rc #es-rc-content .es-cross__desc {
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-cross__link {
  margin: 0;
  line-height: inherit;
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  display: inline-block;
  transition: color 0.3s;
  width: 100%;
}
@container es-rc-content (min-width: 768px) {
  #es-rc #es-rc-content .es-cross__container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 32px 8px;
    margin-top: 32px;
  }
  #es-rc #es-rc-content .es-cross__single {
    min-width: 230px;
    width: 30%;
  }
  #es-rc #es-rc-content .es-cross__desc {
    height: 9em;
  }
}
@container es-rc-content (min-width: 880px) {
  #es-rc #es-rc-content .es-cross__desc {
    height: 7em;
  }
}
#es-rc #es-rc-content .es-footer {
  background-color: #000000;
}
#es-rc #es-rc-content .es-footer__logo {
  max-width: 200px;
  padding: 16px;
}
#es-rc #es-rc-content .es-slider .swiper-button-prev:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after {
  content: "";
}
#es-rc #es-rc-content .es-slider .swiper-button-next,
#es-rc #es-rc-content .es-slider .swiper-button-prev {
  width: unset;
  height: unset;
  position: static;
  justify-content: unset;
  margin: 0;
  display: unset;
}
#es-rc #es-rc-content .es-slider__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img, #es-rc #es-rc-content .es-slider__buttons--next__img {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img {
  transform: rotate(180deg);
}
@media (prefers-reduced-motion: reduce) {
  #es-rc #es-rc-content * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}/*# sourceMappingURL=styles.css.map */